/* @group clearfix */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/* @end */

/* @group widget */

/*div.widget[id*=_sfmsb] input[type=checkbox],
div.widget[id*=_sfmsb] input[type=radio],
div.widget[id*=_sfmsb] select,
div.widget[id*=_sfmsb] input.s{
	margin-top: -15px;
}*/

div.widget[id*=_sfmsb] input.s{
	width:100px;
}

div.sfmsb-icons-container a{
	text-decoration:none;
	margin:0px 8px 10px 8px;
	display:block;
	float:left;
}

div.sfmsb-icons-container{
	position:relative;
	margin-bottom:30px;
	border:2px solid #e4e3e3;
	padding:10px 10px 70px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}

div.sfmsb-icons-container span{
	font-size:35px;
}

div.sfmsb-input-block,
div.sfmsb-initial-message{
	position:absolute;
	width: 93%;
}

div.sfmsb-input-block{
	display:none;
	bottom:10px;
}

div.sfmsb-initial-message{
	bottom:20px;
}

div.sfmsb-input-block input[type=text]{
	margin-top:5px;
}

a.sfmsb-disable{
	opacity: 0.2;
}

a.sfmsb-disable:hover{
	opacity: 0.5;
}

a.sfmsb-pending{
	opacity: 0.5;
	-webkit-box-shadow: 0 0 0 3px #E8ED45;
	box-shadow: 0 0 0 3px #E8ED45;
}

/* @end */

