
/* @group clearfix */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/* @end */

/* @group social buttons */

.sfmsb-follow-social-buttons.sfmsb-under .sfmsb-text{
	display:block;
	margin-bottom:5px;
}

.sfmsb-follow-social-buttons.sfmsb-float{
	display:table-row;
	
}

.sfmsb-follow-social-buttons.sfmsb-float .sfmsb-text,
.sfmsb-follow-social-buttons.sfmsb-float a{
	/*float:left;*/
	vertical-align: middle;
	display:table-cell;
	padding:0px 5px 0px 5px;
	margin-right:0px;
}

.sfmsb-follow-social-buttons.sfmsb-under a{
	margin-right:10px;	
}

.sfmsb-follow-social-buttons a:hover{
	text-decoration:none !important;
}


@font-face {
	font-family: 'social_buttons';
	src:url('../fonts/social_buttons.eot?6rn0ly');
	src:url('../fonts/social_buttons.eot?#iefix6rn0ly') format('embedded-opentype'),
		url('../fonts/social_buttons.woff?6rn0ly') format('woff'),
		url('../fonts/social_buttons.ttf?6rn0ly') format('truetype'),
		url('../fonts/social_buttons.svg?6rn0ly#social_buttons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="sfmsb-icon-"], [class*=" sfmsb-icon-"] {
	font-family: 'social_buttons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* V2 */

.sfmsb-icon-googleplus-square:before {
	content: "\e60e";
}
.sfmsb-icon-googleplus-circle:before {
	content: "\e617";
}

.sfmsb-icon-facebook-square:before {
	content: "\e610";
}
.sfmsb-icon-facebook-circle:before {
	content: "\e601";
}

.sfmsb-icon-twitter-square:before {
	content: "\e612";
}
.sfmsb-icon-twitter-circle:before {
	content: "\e615";
}

.sfmsb-icon-feed-square:before {
	content: "\e613";
}
.sfmsb-icon-feed-circle:before {
	content: "\e614";
}

.sfmsb-icon-vimeo-square:before {
	content: "\e61b";
}
.sfmsb-icon-vimeo-circle:before {
	content: "\e616";
}

.sfmsb-icon-github-circle:before {
	content: "\e602";
}

.sfmsb-icon-github-square:before {
	content: "\e603";
}

.sfmsb-icon-wordpress-circle:before {
	content: "\e61d";
}
.sfmsb-icon-wordpress-square:before {
	content: "\e61c";
}

.sfmsb-icon-pinterest-square:before {
	content: "\e60b";
}

.sfmsb-icon-pinterest-circle:before {
	content: "\e60a";
}

.sfmsb-icon-linkedin-square:before {
	content: "\e611";
}
.sfmsb-icon-linkedin-circle:before {
	content: "\e606";
}

.sfmsb-icon-youtube-square:before {
	content: "\e61e";
}
.sfmsb-icon-youtube-circle:before {
	content: "\e60f";
}

.sfmsb-icon-instagram-square:before {
	content: "\e604";
}
.sfmsb-icon-instagram-circle:before {
	content: "\e605";
}

.sfmsb-icon-email-square:before {
	content: "\e608";
}
.sfmsb-icon-email-circle:before {
	content: "\e621";
}

.sfmsb-icon-soundcloud-square:before {
	content: "\e61a";
}
.sfmsb-icon-soundcloud-circle:before {
	content: "\e619";
}




/* @end */


