
/* @group clearfix */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/* @end */

/* @group social buttons */

.sfmsb-follow-social-buttons.sfmsb-under .sfmsb-text{
	display:block;
	margin-bottom:5px;
}

.sfmsb-follow-social-buttons.sfmsb-float{
	display:table-row;
	
}

.sfmsb-follow-social-buttons.sfmsb-float .sfmsb-text,
.sfmsb-follow-social-buttons.sfmsb-float a{
	/*float:left;*/
	vertical-align: middle;
	display:table-cell;
	padding:0px 5px 0px 5px;
	margin-right:0px;
}

.sfmsb-follow-social-buttons.sfmsb-under a{
	margin-right:10px;	
}

.sfmsb-follow-social-buttons a:hover{
	text-decoration:none !important;
}

/* @end */


